$icons: (
        sprite: (width: 450px, height: 358px, pngPath: '../images/svg/sprite.png', svgPath: '../images/svg/sprite.svg'),
accordion-arrow-s-g: (width: 21px, height: 12px, backgroundX: 0px, backgroundY: 0px),
accordion-arrow-s-o: (width: 21px, height: 12px, backgroundX: -21px, backgroundY: -12px),
btn-arrow: (width: 12px, height: 12px, backgroundX: -42px, backgroundY: -24px),
btn-arrow-d: (width: 14px, height: 8px, backgroundX: -54px, backgroundY: -36px),
btn-arrow-right: (width: 73px, height: 8px, backgroundX: -68px, backgroundY: -44px),
btn-arrow-s-o: (width: 14px, height: 8px, backgroundX: -141px, backgroundY: -52px),
btn-user: (width: 12px, height: 12px, backgroundX: -155px, backgroundY: -60px),
checked: (width: 14px, height: 10px, backgroundX: -167px, backgroundY: -72px),
danger: (width: 32px, height: 32px, backgroundX: -181px, backgroundY: -82px),
datapicker-s-b: (width: 18px, height: 17px, backgroundX: -213px, backgroundY: -114px),
datapicker-s-g: (width: 18px, height: 17px, backgroundX: -231px, backgroundY: -131px),
error-s: (width: 14px, height: 14px, backgroundX: -249px, backgroundY: -148px),
logo: (width: 128px, height: 128px, backgroundX: -263px, backgroundY: -162px),
upload-close-s-g: (width: 14px, height: 14px, backgroundX: -391px, backgroundY: -290px),
upload-icon-s-b: (width: 16px, height: 19px, backgroundX: -405px, backgroundY: -304px),
upload-icon-s-g: (width: 16px, height: 19px, backgroundX: -421px, backgroundY: -323px),
upload-loaded-s-o: (width: 13px, height: 16px, backgroundX: -437px, backgroundY: -342px),
);