<!-- build:scripts -->
<script src="support-libs.js"></script>


<script src='libs/jquery.min.js'></script>
<script src='libs/locale.js'></script>


<script src="helpers/tab.js"></script>
<script src="helpers/validation.js"></script>
<script src="helpers/jquery.maskedinput.min.js"></script>

<script src="ui.js"></script>
<!-- endbuild -->

</body>

</html>
